# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Blue\Blue-BancoDeDados-Modulo2\Aula 07 - Codelab\Projeto 01 - Humor do Einstein - JavaScript\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
